.card{
    margin-top: 0;
    padding: 30px;
}
.card-image{
    display: inline-block;
    width: 260px;
    height: 350px;
}
.card-status{
    position: absolute;
    margin-top: 10px;
    margin-left: 7px;
}
.star{
    width: 14px;
    height: 14px;
}
.rate{
    font-weight: light;
}
.quantity{
    font-weight: light;
    color: #918E9B;
}
.card-title{
    max-width: 263px;
}
.country{
    font-weight: light;
    color: #918E9B;
}
.card-price{
    font-weight: bold;
}
.card-price-type{
    font-weight: light;
}