footer{
    padding: 20px;
    height: 60px;
  /* position: fixed;
  bottom: 0;
  left: 0; 
  right: 0;  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: .3s;
  }
  .dark-footer{
    color: white;
    background-color: rgb(48, 48, 48);
  }
  .light-footer{
    color: black;
    background-color: #b8b8aa;
  }