
.list-header{
    margin-top: 0;
    /* color: #FFFFFF; */
    font-size: 39px;
  }
  .main-body{
    min-height: 70vh;
    height: 100%;

    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    justify-content: space-around;
    transition: .3s;

  }
  .list-items{
    /* color: #FFFFFF; */
    margin-top: 10px;
  }
  .list-items > li::marker{
    color: #61DAFB;
    font-size: 1.6rem;
  }
  .list-items > li{
    margin-top: 13px;
  }
  .inner-logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* position: absolute;
    right: 100px;
    top: 100px; */
    background-color: #FFFFFF;
    transition: 1s;
  }
  .app-logo{
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .inner-logo:hover{
    transform: rotate(360deg);
    transition: 2s;
  }
  .main--link{
    /* color: #FFFFFF; */
    text-decoration: none;
  }
  .light-main{
    color: black;
    background-color: #FFFFFF;
  }
  .dark-main{
    color: #FFFFFF;
    background-color: #33373E;
  }
  @media (max-width: 800px){
    .main-body{
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(1fr, auto);

      /* min-height: 100vh - 10vh - 100px; */
    }
  }