/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
* {
  margin: 0;
  font-family: Inter, sans-serif;

} 
html, body{
}

.grid-container{
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(1fr, auto);
  ;
  grid-template-areas: 
  "header header header header header"
  "main   main   main   main   main"
  "main   main   main   main   main"
  "main   main   main   main   main"
  "footer footer footer footer footer";
  align-items: stretch; /* Stretch items vertically */
  justify-items: stretch; /* Stretch items horizontally */
  ;
}
.nav{
  grid-area: header;
}
.main-container{
  grid-area: main;
  align-self: stretch; 
  
}
footer{
  grid-area: footer;
  align-self: end;
}