 * {
  margin: 0;
  font-family: Inter, sans-serif;

} 

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
/*
.nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 60px;
}
.react-logo{
  width: 40px;
  height: 40px;
  margin-right: 7px;
}
.project-name{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.project-description{
  color:#DEEBF8;
  font-weight: 600;
}
.list-header{
  margin-top: 0;
  color: #FFFFFF;
  font-size: 39px;
}
.main-body{
  text-align: start;
  padding: 25px;

  background-image: url("../src/images/reactjs-icon2.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.list-items{
  color: #FFFFFF;
  margin-top: 10px;
}
.list-items > li::marker{
  color: #61DAFB;
  font-size: 1.6rem;
}
.list-items > li{
  margin-top: 13px;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  background-color: rgb(48, 48, 48);
  text-align: center;
}*/
/* *{
  box-sizing: border-box;
  background-color: #FFFFFF;
} */

/* .main-form{
  padding: 50px;
  /* display: flex;
  flex-direction: column; 
} */
/* .box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 2px;
  border-radius: 10px;
}
.box:hover{
  background-color: brown; 
  transition: 1.5s;
}
.input-text{
  padding: 10px;
  margin-right: 20px;
  text-indent: 3px;
  border-radius: 10px;
}
.input-text:focus{
  border: 5px solid #686868;
  background-color: black;
  color: white;
}
.input-submit{
  padding: 5px;
  margin-top: 30px;
  border-radius: 10px;
}
.choices{
  
} */

/* .custom-form{
  padding: 50px;
  margin: auto;
  margin-top: 5rem;
  width: 400px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
}
.input-text{
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid silver;
  background-color: white;
}
.check-div{
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}
#label{
  background-color: white;
}
#form-button-submit{
  margin-top: 20px;
  padding: 10px;
  background-color: (93, 34, 119);
  color: white;
  font-weight: bold;
} */