/* body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FFFFFF;

} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
.nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 60px;
}
.react-logo{
  width: 40px;
  height: 40px;
  margin-right: 7px;
}
.project-name{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.project-description{
  color:#DEEBF8;
  font-weight: 600;
}
.list-header{
  margin-top: 0;
  color: #FFFFFF;
  font-size: 39px;
}
.main-body{
  text-align: start;
  padding: 25px;

  background-image: url("../src/images/reactjs-icon2.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.list-items{
  color: #FFFFFF;
  margin-top: 10px;
}
.list-items > li::marker{
  color: #61DAFB;
  font-size: 1.6rem;
}
.list-items > li{
  margin-top: 13px;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  background-color: rgb(48, 48, 48);
  text-align: center;
}*/
/* *{
  box-sizing: border-box;
}
.box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
} */